.App {
  text-align: center;
  color: white;
}

.Socials {
  text-align: center;
  color: #123C69;
  margin: 0;
  font-size: larger;
  
}
.social {
  padding: 0px;
  margin: 0px;
}

.header {
  text-align: center;
  color: #AC3B61;
}

.card {
  background-color: #EDC7B7;
  text-align: center;
  border-color: #BAB2B5;
  border-style: solid;
  border-width: 2px;
  margin: 1%;

}

.cardImage {
  width: 96%;
  padding: 2%;
}

.description {
  padding-bottom: 1%;
}

.cardFooter {
  background-color: #BAB2B5;
  border-style: solid;
  border-color: #BAB2B5;
}

.codeButton {
  margin: 2%;
  width: 50%;
  background-color: #AC3B61;
  color: white;
  padding: 2%;
  border-style: none;
  border-radius: 5px;
}



