.App {
  text-align: center;
  background-color: #EEE2DC;
}

.title {
  padding-top: 1%;
}

.Socials {
  text-align: center;
  color: #123C69;
  margin: 0;
  font-size: larger;
  
}
.social {
  padding: 0px;
  margin: 0px;
}

.header {
  text-align: center;
  color: #AC3B61;
}

.cardContent {
  text-align: center;
}

.content {
  padding: 2% 10% 5% 10%;
}

a {
  text-decoration: none !important;
  color: #123C69 !important; 
}








