.projectImage {
    height: 250px;
    width: 350px;
    margin-top: 4px;
}

.projectBtn {
    border-style: none;
    background-color: #EDC7B7;
    float: center;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    color: #AC3B61;
    font-size: large;
}

.grid {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1%;
    text-align: center;
  }